---
import Hero from '../components/Hero.astro'
import Layout from '../layouts/Layout.astro'
---

<Layout title="Developer portfolio">
	<div class="grid h-screen grid-rows-[auto_1fr_auto]">
		<header>
			<Hero />
		</header>
		<main>
			<div class="space-y-8">
				<p>This is the developer portfolio</p>

				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex unde consequatur soluta
					accusantium impedit cupiditate ea atque facere, asperiores similique magnam illum! Velit
					enim pariatur blanditiis cum, omnis impedit libero.
				</p>

				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum consequatur totam sapiente
					quas delectus recusandae explicabo! Laborum, magnam. Ipsam ex ab totam. Obcaecati
					doloremque itaque libero velit ex eius quae.
				</p>

				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex unde consequatur soluta
					accusantium impedit cupiditate ea atque facere, asperiores similique magnam illum! Velit
					enim pariatur blanditiis cum, omnis impedit libero.
				</p>

				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum consequatur totam sapiente
					quas delectus recusandae explicabo! Laborum, magnam. Ipsam ex ab totam. Obcaecati
					doloremque itaque libero velit ex eius quae.
				</p>

				<p>
					Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ex unde consequatur soluta
					accusantium impedit cupiditate ea atque facere, asperiores similique magnam illum! Velit
					enim pariatur blanditiis cum, omnis impedit libero.
				</p>

				<p>
					Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum consequatur totam sapiente
					quas delectus recusandae explicabo! Laborum, magnam. Ipsam ex ab totam. Obcaecati
					doloremque itaque libero velit ex eius quae.
				</p>
			</div>
		</main>
		<footer>
			<p>Footer</p>
		</footer>
	</div>
</Layout>
